body {
	background-color:#0E79B2;
}
main {
  overflow: hidden;
  min-height: 100%;
}
footer {
	background-color:#212738;
  padding:5px 0;
  width:100%;
  bottom:0;
  left:0;
  right:0;
  margin-top: -100px;
  overflow: hidden;
}
.footerform {
	color:white;
	margin-left:45%;
}
.navbar {
  overflow: hidden;
  background-color: #212738;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left:0;
  right:0;
  width: 100%; /* Full width */
  margin-top:0;
}
.navbar h1 {
	color:white;
}
.search {
	text-align:center;
	background-color:#AFDEDC;
	padding:15px;
	margin-top:150px;
	margin-left:44%;
	width:10%;
  border-radius: 25px;
}
.col {
	float:left;
	width:23%;
	height:150px;
	text-align:center;
	color:white;
	padding-top:10%;
  border-radius: 25px;
  margin-left:7.5%;
}
.columns {
  margin-top:5%;
	margin-left:2%;
	margin-bottom:10%;
	content: "";
	display:table;
	clear:both;
	padding:15px;
	width:95%;
}
